body{
    width: 500px;
    height:550px;
    border: 1px solid black;  
    margin: 50px 100px 100px 450px; 
    line-height: 30px;
    
}
h1{
    text-align: center;
}
.col{
    margin-left: 15px;
}
#selectCountry{
    width: 170px;
    margin-left: 15px;
}